<main class="measure py2">
  <h2>Review Leads</h2>
  <form method="POST">
    <div class="txt--right">
      <a class="fnt--orange" href="/admin/blacklists">Manage blacklists</a>
    </div>
    <input name="_method" type="hidden" value="patch">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <table>
      <thead>
        <th>Source</th>
        <th>✓</th>
        <th>Date</th>
        <th>Title</th>
        <th>Location</th>
      </thead>
      <tbody>
        <% listings.each do |listing| %>
          <tr class="<%= 'fnt--mid-gray' if !listing[:lead_id] %>">
            <td>
              <% if listing[:lead_id] %>
                <%= listing[:source] %>
              <% else %>
                <a class="fnt--green" href="<%= listing[:edit_url] %>">posted</a>
              <% end %>
            </td>
            <td>
              <% if listing[:lead_id] %>
                <input type="checkbox" name="reviewed_leads[]" value="<%= listing[:lead_id] %>">
              <% end %>
            </td>
            <td><%= listing[:date] %></td>
            <td><a href="<%= listing[:url] %>"><%= listing[:title] %></a></td>
            <td>
              <a href="<%=
                'https://maps.google.com?' + {
                  saddr: 'San Francisco, CA',
                  daddr: listing[:location]
                }.to_query %>">
                <%= listing[:location] %></td>
              </a>
          </tr>
        <% end %>
      </tbody>
    </table>
    <input class="btn--red" type="submit" value="Hide checked items">
  </form>

  <h2>Create Event Listing</h2>
  <%= render 'admin/listings/form' %>
</main>
