<%= content_for :head, auto_discovery_link_tag(:atom, index_url(format: "atom")) %>
<main class="measure py2">
  <h1 class="txt--center">San Francisco Hackathons</h1>
  <% @events.each do |event| %>
    <div id="e<%= event.id %>" class="brdr--off-white p1 my1 media">
      <div class="media-figure py1 brdr--light-gray txt--center calbox">
        <% if event.end_date && (event.end_date.month != event.start_date.month) %>
          <span>
            <div class="h5 p0 m0"><%= event.start_date.strftime('%b') %></div>
            <div class="h3 m00"><%= event.start_date.day %></div>
          </span>
          <span class="h3">-</span>
          <span>
            <div class="h5 p0 m0"><%= event.end_date.strftime('%b') %></div>
            <div class="h3 m00"><%= event.end_date.day %></div>
          </span>
        <% else %>
          <div style="width: 100%">
            <span class="h5 p0 m0 txt--left"><%= event.start_date.strftime('%b') %></span>
            <% if event.end_date && event.end_date.month != event.start_date.month %>
              <span class="h5 p0 m0 ">- <%= event.end_date.strftime('%b') %></span>
            <% end %>
          </div>
          <div class="h3 m00">
            <%= event.start_date.day %>
            <% if event.end_date %>
              - <%= event.end_date.day %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="media-body grd">
        <div class="grd-row">
          <div class="grd-row-col-4-6">
            <a class="h3 m00 p0 fnt--green" href="<%= event.link %>"><%= event.title %></a>
          </div>
          <% if event.hours %>
            <div class="grd-row-col-2-6">
                <span class="h3 muted">- <%= event.hours %> hours</span>
            </div>
          <% end %>
        </div>
        <div class="grd-row blurb"><%= event.blurb %></div>
        <% if event.restricted_to.present? %>
          <div class="grd-row fnt--orange">
            Only open to <%= event.restricted_to %>
          </div>
        <% end %>
        <div class="grd-row muted">
          <div>
            Hosted at <%= "<b>#{h(event.venue)}</b> - ".html_safe if event.venue.present? %>
            <a href="https://maps.google.com?q=<%=u event.address %>"><%= event.address %></a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</main>
<footer class="measure p2 grd">
  <div class="grd-row">
    <div class="grd-row-col-3-6"></div>
    <div class="grd-row-col-1-6">
      <%= link_to 'Atom feed', controller: 'home', action: :index, format: :atom %>
    </div>
    <div class="grd-row-col-1-6">
      <a href="https://github.com/tdeck/sfhacks">GitHub</a>
    </div>
    <div class="grd-row-col-1-6">
      <%= link_to 'Admin', controller: 'admin/listings', action: :index %>
    </div>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72560041-2', 'auto');
  ga('send', 'pageview');
</script>
