<!DOCTYPE html>
<html>
<head>
  <title>SF Hackathons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<% if flash[:alert] %>
  <div class="m00 px2 bg--red fnt--white h4"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="m00 px2 bg--green fnt--white h4"><%= flash[:notice] %></div>
<% end %>

<%= yield %>

</body>
</html>
